// CMD
// sass --watch styles/main.scss:styles/style.css

// ---------- FONT ---------- */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

/* ---------- RESET ---------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* ---------- VARIABLES ---------- */
:root {
  /* COLORS */
  /* PRIMARY */
  --color-primary-1: hsl(1, 90%, 64%);
  --color-primary-2: hsl(219, 85%, 26%);

  /* NEUTRAL */
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-1: hsl(210, 60%, 98%); // BG
  --color-neutral-grey-2: hsl(211, 68%, 94%); // Unread
  --color-neutral-grey-3: hsl(205, 33%, 90%); // Hover
  --color-neutral-grey-4: hsl(219, 14%, 63%); // Timestamp
  --color-neutral-grey-5: hsl(219, 12%, 42%); // Normal text
  --color-neutral-grey-6: hsl(224, 21%, 14%); // Dark text

  /* TEXT */
  --text-heading-size-1: 2.2rem;
  --text-heading-size-2: 2rem;
  --text-heading-size-3: 1.8rem;
  --text-para-size: 1.6rem;
  --text-sans-serif-font: "Plus Jakarta Sans", sans-serif;
  // --text-weight-light: 300;
  // --text-weight-regular: 400;
  --text-weight-medium: 500;
  // --text-weight-semibold: 600;
  // --text-weight-bold: 700;
  --text-weight-extrabold: 800;
}

/* ---------- BASE STYLES ---------- */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;

  font-family: var(--text-sans-serif-font);
  font-weight: var(--text-weight-medium);
  font-size: var(--text-para-size);
}

footer {
  margin-top: 5rem;
  // position: absolute;
  // bottom: 1%;
  // left: 1%;
  // transform: translateX(-50%);

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 100%, 87%);
  }

  @include lg {
    display: none;
  }
}
