@import "./breakpoints.scss";
@import "./setup.scss";

body {
  @include sm {
    place-content: start;
  }
}

html {
  background-color: var(--color-neutral-grey-1);

  @include md {
    font-size: 50%;
  }

  @include sm {
    background-color: var(--color-neutral-white);
  }
}

.container {
  max-width: 70rem;
  background-color: var(--color-neutral-white);
  padding: 3rem;
  border-radius: 20px;
  color: var(--color-neutral-grey-5);

  @include sm {
    border-radius: 0;
    padding: 2rem;
  }
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    color: var(--color-neutral-grey-6);
    font-size: var(--text-heading-size-1);
  }

  &__unread {
    padding: 3px 12px;
    margin-left: 1rem;
    color: var(--color-neutral-white);
    background-color: var(--color-primary-2);
    border-radius: 5px;
  }

  &__mark-all-read {
    font-family: var(--text-sans-serif-font);
    font-weight: var(--text-weight-medium);
    color: var(--color-neutral-grey-5);
    border: none;
    background-color: var(--color-neutral-white);
    cursor: pointer;

    &:hover {
      color: var(--color-primary-2);
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__notification {
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: background-color 1s;
  }

  &__avatar img {
    width: 5rem;
    margin: 1.5rem;
  }

  &__author {
    color: var(--color-neutral-grey-6);
    font-weight: var(--text-weight-extrabold);
    cursor: pointer;

    &:hover {
      color: var(--color-primary-2);
    }
  }

  &__link {
    color: var(--color-neutral-grey-5);
    font-weight: var(--text-weight-extrabold);

    &:hover {
      color: var(--color-primary-2);
    }

    &--join-leave {
      color: var(--color-primary-2);
      font-weight: var(--text-weight-extrabold);
    }
  }

  &__timestamp {
    color: var(--color-neutral-grey-4);
  }

  &__image {
    width: 50px;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  &__private {
    float: right;
    width: 88%;
    display: block;
    padding: 2rem;
    border: 1px solid var(--color-neutral-grey-3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, border 0.1s;

    &:hover {
      background-color: var(--color-neutral-grey-2);
      border: 1px solid var(--color-neutral-grey-2);
    }

    @include sm {
      width: 82%;
    }
  }

  &__dot {
    &::after {
      content: "";
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: var(--color-primary-1);
      margin-left: 4px;
      transform: translateY(-2px);
    }
  }

  .unread {
    background-color: var(--color-neutral-grey-1);
  }
}

.hidden {
  display: none;
}
